
@media(max-width:1400px){

    .reports-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .stats-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:1100px){

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
        border-right:none;
        border-bottom:1px solid #1f1f1f;
    }

    .main-content{
        margin-left:0;
        padding:20px;
    }

    .hero-section{
        flex-direction:column;
    }

    .hero-left h1{
        font-size:52px;
    }

}

@media(max-width:768px){

    .top-navbar{
        flex-direction:column;
        gap:20px;
        align-items:flex-start;
    }

    .nav-left{
        width:100%;
        overflow-x:auto;
        padding-bottom:10px;
    }

    .hero-left h1{
        font-size:42px;
    }

    .stats-grid{
        grid-template-columns:1fr;
    }

    .reports-grid{
        grid-template-columns:1fr;
    }

    .search-section{
        flex-direction:column;
    }

    .search-btn{
        width:100%;
        height:58px;
    }

    .report-buttons{
        flex-direction:column;
    }

}

@media(max-width:500px){

    .hero-left h1{
        font-size:34px;
    }

    .section-title h2{
        font-size:26px;
    }

    .stat-card{
        padding:22px;
    }

    .report-card{
        padding:20px;
    }

}
